{% extends "base.html" %}
{% load staticfiles %}

<!doctype html>
<html>
    <head>
      {% block title %} Read Length Distribution of miRNA {% endblock %}
    </head>
          <body>
        {% block content %}
        {{httprequest.meta.http_referer}}
        <form class="form-horizontal" method="post">{% csrf_token %}
    <fieldset>
        <legend><h3> Read Length Distribution of miRNA </h3></legend>
          <img src="{% static '/static/length.svg' %}"
               class="img-responsive img-thumbnail " alt="Responsive
               image" type="image/svg+xml">
          <legend><h3>Generate Read Length Distribution</h3></legend>
         {% for field in form %}
            {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </fieldset>
        <form action="" method="post"
    {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
 <br>         
<div class="form-actions">
        <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
</form>
    </form>
        {% endblock %}
    </body>
</html>
